@media screen and (max-width: 1199px) {
  #selector {
    color: #fffff;
  }
  @media screen and (max-width: 991px) {
    #selector {
      color: #fffff;
    }
    @media screen and (max-width: 767px) {
      #selector {
        color: #fffff;
      }
    }
  }
}